@model Lab6_1.Models.Restorants_chain

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restorants_chain</h4>
    <hr />
    <dl class="d-lg-table-cell">
        <dt>
            @Html.DisplayNameFor(model => model.restorant_chain_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restorant_chain_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restorant_chain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restorant_chain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_creation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.restorant_chain_id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-lg" })
</p>
