@model IEnumerable<Lab6_1.Models.Restorants_chain>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-info">Restorants chain data</h2>

<p class="float-right">
    <b class="btn btn-outline-primary">
        @Html.ActionLink("Create New", "Create")
    </b>
</p>
<table class="table table-primary">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.restorant_chain_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restorant_chain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_creation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.owner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.restorant_chain_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restorant_chain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.restorant_chain_id}, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id = item.restorant_chain_id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.restorant_chain_id }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
